<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/BDS_DailyShow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![CC-BY-SA](https://licensebuttons.net/l/by-sa/3.0/88x31.png)<br>
<hr>

![alt text](http://1.bp.blogspot.com/-nqAGzznZQNo/UwS8rxjfXeI/AAAAAAAABTA/nunmRLowpps/s1600/PraxisLogo.gif)<br>
[Data Science Program](http://praxis.ac.in/Programs/business-analytics/)

<hr>

[Prithwis Mukerjee](http://www.yantrajaal.com)<br>

Apache Spark: An Introduction
https://www.dataquest.io/blog/apache-spark/

In [1]:
#import urllib.request
#urllib.request.urlretrieve('https://raw.githubusercontent.com/fivethirtyeight/data/master/daily-show-guests/daily_show_guests.csv','dsg.csv')
#!wget 'https://raw.githubusercontent.com/fivethirtyeight/data/master/daily-show-guests/daily_show_guests.csv'
!gdown https://drive.google.com/uc?id=1UQWzVXAg2ytuAmtizEsWx6E1D38XUBX4

Downloading...
From: https://drive.google.com/uc?id=1UQWzVXAg2ytuAmtizEsWx6E1D38XUBX4
To: /content/daily_show_guests.csv
100% 127k/127k [00:00<00:00, 50.8MB/s]

# Setup

In [2]:
!apt-get update > /dev/null
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q http://apache.osuosl.org/spark/spark-2.2.2/spark-2.2.2-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-2.4.0/spark-2.4.0-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
#!wget -q http://apache.osuosl.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz
!wget -q http://apache.osuosl.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
#
# if the current version of Spark is not used, there may be errors
# check here for current versions http://apache.osuosl.org/spark
#
#!tar xf spark-2.4.0-bin-hadoop2.7.tgz
#!tar xf spark-2.4.3-bin-hadoop2.7.tgz
#!tar xf spark-2.4.4-bin-hadoop2.7.tgz
#!tar xf spark-2.4.5-bin-hadoop2.7.tgz
#!tar xf spark-3.0.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
#!pip install -q findspark
!pip install -q pyspark

     |████████████████████████████████| 281.3 MB 39 kB/s
     |████████████████████████████████| 198 kB 49.8 MB/s
  Building wheel for pyspark (setup.py) ... done

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.0-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.3-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"
#os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

In [4]:
#import findspark
#findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
#from pyspark.sql import SparkSession
#spark = SparkSession.builder.master("local[*]").getOrCreate()
# note UI port switched from default 4040 to 4050 to avoid clash with ngrok
#spark = SparkSession.builder.master("local[*]").config('spark.ui.port', '4050').getOrCreate()

In [5]:
sc = spark.sparkContext

In [6]:
sc

In [7]:
raw_data = sc.textFile("daily_show_guests.csv")
raw_data.take(5)

['YEAR,GoogleKnowlege_Occupation,Show,Group,Raw_Guest_List',
 '1999,actor,1/11/99,Acting,Michael J. Fox',
 '1999,Comedian,1/12/99,Comedy,Sandra Bernhard',
 '1999,television actress,1/13/99,Acting,Tracey Ullman',
 '1999,film actress,1/14/99,Acting,Gillian Anderson']

# Daily Show

In [ ]:
import csv

f = open('daily_show_guests.csv')
tally_D = dict()
for line in f:
    data_line = line.split(',')
    year = data_line[0]
    if year in tally_D.keys():
       tally_D[year] = tally_D[year] + 1
    else:
       tally_D[year] = 1

In [ ]:
print(tally_D)

{'YEAR': 1, '1999': 166, '2000': 169, '2001': 157, '2002': 159, '2003': 166, '2004': 164, '2005': 162, '2006': 161, '2007': 141, '2008': 164, '2009': 163, '2010': 165, '2011': 163, '2012': 164, '2013': 166, '2014': 163, '2015': 100}

In [ ]:
daily_show = raw_data.map(lambda line: line.split(','))
daily_show.take(5)

[['YEAR', 'GoogleKnowlege_Occupation', 'Show', 'Group', 'Raw_Guest_List'],
 ['1999', 'actor', '1/11/99', 'Acting', 'Michael J. Fox'],
 ['1999', 'Comedian', '1/12/99', 'Comedy', 'Sandra Bernhard'],
 ['1999', 'television actress', '1/13/99', 'Acting', 'Tracey Ullman'],
 ['1999', 'film actress', '1/14/99', 'Acting', 'Gillian Anderson']]

In [ ]:
tallyMap = daily_show.map(lambda x: (x[0], 1))
tallyMap.take(5)

[('YEAR', 1), ('1999', 1), ('1999', 1), ('1999', 1), ('1999', 1)]

In [ ]:
tallyRed = tallyMap.reduceByKey(lambda x,y: x+y)
tallyRed.take(5)

[('YEAR', 1), ('2002', 159), ('2003', 166), ('2004', 164), ('2007', 141)]

In [ ]:
tally = daily_show.map(lambda x: (x[0], 1)).reduceByKey(lambda x,y: x+y)
print(tally)

PythonRDD[14] at RDD at PythonRDD.scala:53

In [ ]:
tally.count()

18

In [ ]:
tally.take(tally.count())

[('YEAR', 1),
 ('2002', 159),
 ('2003', 166),
 ('2004', 164),
 ('2007', 141),
 ('2010', 165),
 ('2011', 163),
 ('2012', 164),
 ('2013', 166),
 ('2014', 163),
 ('2015', 100),
 ('1999', 166),
 ('2000', 169),
 ('2001', 157),
 ('2005', 162),
 ('2006', 161),
 ('2008', 164),
 ('2009', 163)]

In [ ]:
def filter_year(line):
    if line[0] == 'YEAR':
        return False
    else:
        return True
filtered_daily_show = daily_show.filter(lambda line: filter_year(line))

In [ ]:
tally2 = filtered_daily_show.map(lambda x: (x[0], 1)).reduceByKey(lambda x,y: x+y)
print(tally2)

PythonRDD[23] at RDD at PythonRDD.scala:53

In [ ]:
tally2.take(tally2.count())

[('2002', 159),
 ('2003', 166),
 ('2004', 164),
 ('2007', 141),
 ('2010', 165),
 ('2011', 163),
 ('2012', 164),
 ('2013', 166),
 ('2014', 163),
 ('2015', 100),
 ('1999', 166),
 ('2000', 169),
 ('2001', 157),
 ('2005', 162),
 ('2006', 161),
 ('2008', 164),
 ('2009', 163)]

In [ ]:
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .take(20)

[('actor', 596),
 ('film actress', 21),
 ('model', 9),
 ('stand-up comedian', 44),
 ('actress', 271),
 ('television personality', 13),
 ('comic', 2),
 ('musician', 19),
 ('film actor', 19),
 ('journalist', 253),
 ('us senator', 50),
 ('vocalist', 2),
 ('film director', 24),
 ('singer', 23),
 ('muppet', 2),
 ('american television personality', 3),
 ('rapper', 10),
 ('football player', 1),
 ('former mayor of cincinatti', 2),
 ('businesswoman', 2)]

## Extra Sorting

In [ ]:
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .take(20)

[('actor', 596),
 ('film actress', 21),
 ('model', 9),
 ('stand-up comedian', 44),
 ('actress', 271),
 ('television personality', 13),
 ('comic', 2),
 ('musician', 19),
 ('film actor', 19),
 ('journalist', 253),
 ('us senator', 50),
 ('vocalist', 2),
 ('film director', 24),
 ('singer', 23),
 ('muppet', 2),
 ('american television personality', 3),
 ('rapper', 10),
 ('football player', 1),
 ('former mayor of cincinatti', 2),
 ('businesswoman', 2)]

In [ ]:
#sorted by profession 
#not sorted by number of appearances
# in sortbykey, 1st parameter determines direction of sort, second parameter is optional)
# in sortbykey, 2nd parameter determines number of partition in output RDD
# see next two cells
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .sortByKey(0, 1) \
                   .take(20)

[('writer', 52),
 ('white house sommunications director', 5),
 ('white house official', 1),
 ('vocalist', 2),
 ('vice president', 2),
 ('us senator', 50),
 ('us secretary of energy', 1),
 ('us secretary of defense', 1),
 ('us secetary of education', 1),
 ('us representative', 9),
 ('us president', 10),
 ('us permanent representative to nato', 1),
 ('us official', 1),
 ('us assistant attorney', 1),
 ('university professor', 2),
 ('united states senator', 15),
 ('united states senate member', 4),
 ('united states secretary of the navy', 1),
 ('united states secretary of housing and urban development', 1),
 ('united states secretary of defense', 1)]

In [ ]:
#sorted by profession 
#not sorted by number of appearances
# in sortbykey, 1st parameter determines direction of sort, second parameter is optional)
# in sortbykey, 2nd parameter determines number of partition in output RDD
# see next two cells
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .sortByKey(1, 1) \
                   .take(20)

[('-', 1),
 ('0', 4),
 ('academic', 6),
 ('accountant', 1),
 ('activist', 14),
 ('actor', 596),
 ('actress', 271),
 ('administrator', 1),
 ('admiral', 2),
 ('adviser', 4),
 ('advocate', 1),
 ('aei president', 1),
 ('afghan politician', 1),
 ('american football quarterback', 3),
 ('american football running back', 1),
 ('american football wide receiver', 2),
 ('american football wide reciever', 1),
 ('american political figure', 2),
 ('american politician', 8),
 ('american television personality', 3)]

In [ ]:
!rm -r dumpDir
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .sortByKey(0,2)\
                   .saveAsTextFile("dumpDir")

rm: cannot remove 'dumpDir': No such file or directory

In [ ]:
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .take(10)

[('actor', 596),
 ('film actress', 21),
 ('model', 9),
 ('stand-up comedian', 44),
 ('actress', 271),
 ('television personality', 13),
 ('comic', 2),
 ('musician', 19),
 ('film actor', 19),
 ('journalist', 253)]

In [ ]:
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .map(lambda x: (x[1],x[0]))\
                   .take(10)

[(596, 'actor'),
 (21, 'film actress'),
 (9, 'model'),
 (44, 'stand-up comedian'),
 (271, 'actress'),
 (13, 'television personality'),
 (2, 'comic'),
 (19, 'musician'),
 (19, 'film actor'),
 (253, 'journalist')]

In [ ]:
#to sort by number of appearances, we first need to flip the key and value 
#

# sort 1st arg configures ascending sort, 2nd configures 1 task
# https://stackoverflow.com/questions/38569052/how-do-i-invert-key-and-value-in-rdd-in-python-3-pyspark

filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .map(lambda x: (x[1],x[0]))\
                   .sortByKey(0, 1) \
                   .map(lambda x: (x[1],x[0])) \
                   .take(10)

[('actor', 596),
 ('actress', 271),
 ('journalist', 253),
 ('author', 152),
 ('comedian', 103),
 ('writer', 52),
 ('us senator', 50),
 ('stand-up comedian', 44),
 ('television host', 39),
 ('professor', 37)]

In [ ]:
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .sortBy(lambda x : -1*x[1])\
                   .take(10)

[('actor', 596),
 ('actress', 271),
 ('journalist', 253),
 ('author', 152),
 ('comedian', 103),
 ('writer', 52),
 ('us senator', 50),
 ('stand-up comedian', 44),
 ('television host', 39),
 ('professor', 37)]

In [ ]:
filtered_daily_show.filter(lambda line: line[1] != '') \
                   .map(lambda line: (line[1].lower(), 1)) \
                   .reduceByKey(lambda x,y: x+y) \
                   .takeOrdered(10, lambda aTuple:-1*aTuple[1])

[('actor', 596),
 ('actress', 271),
 ('journalist', 253),
 ('author', 152),
 ('comedian', 103),
 ('writer', 52),
 ('us senator', 50),
 ('stand-up comedian', 44),
 ('television host', 39),
 ('professor', 37)]

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)