<a href="https://colab.research.google.com/github/Praxis-QR/BDSN/blob/main/KK_E1_Cassandra_Getting_Started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://4.bp.blogspot.com/-gbL5nZDkpFQ/XScFYwoTEII/AAAAAAAAAGY/CcVb_HDLwvs2Brv5T4vSsUcz7O4r2Q79ACK4BGAYYCw/s1600/kk3-header00-beta.png)<br>


<hr>

[Prithwis Mukerjee](http://www.linkedin.com/in/prithwis)<br>

#Install Cassandra

install https://phoenixnap.com/kb/install-cassandra-on-ubuntu

In [1]:
!apt update > null
!apt install openjdk-8-jdk -y > null
#!java -version
!apt install apt-transport-https > null

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [2]:
!sh -c 'echo "deb http://www.apache.org/dist/cassandra/debian 40x main" > /etc/apt/sources.list.d/cassandra.list'
!wget -q -O - https://www.apache.org/dist/cassandra/KEYS | sudo apt-key add -

OK

In [3]:
#!cat /etc/apt/sources.list.d/cassandra.list

In [3]:
!apt update > null
!apt install cassandra > null

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

## Start the Service

In [4]:
#!service cassandra stop
# the ulimit error does not matter
!service cassandra restart

 * Restarting Cassandra cassandra
/etc/init.d/cassandra: 72: ulimit: error setting limit (Operation not permitted)
   ...done.

In [5]:
# keep checking service status until you see [+] next to cassandra
# then wait for 30 - 60 seconds MORE
!service  --status-all

 [ + ]  cassandra
 [ - ]  dbus
 [ ? ]  hwclock.sh
 [ ? ]  kmod
 [ - ]  ntp
 [ - ]  procps
 [ - ]  rsync
 [ + ]  udev
 [ - ]  x11-common

In [6]:
# this will give an error if the cassandra service has not started
# Wait for some time for the service to start
# If required reboot system or stop, restart cassandra service
!nodetool status

Datacenter: datacenter1
=======================
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address    Load       Tokens  Owns (effective)  Host ID                               Rack
UN  127.0.0.1  69.09 KiB  16      100.0%            64f12a88-55b1-42b1-9b3d-f83b4955b724  rack1

In [ ]:
# basic test
#!cqlsh

# Basic Commands 
how to execute commands through scripts https://stackoverflow.com/questions/25286253/executing-cql-through-shell-script <br>
some examples https://techfossguru.com/apache-cassandra-python-step-step-guide-ubuntu-example/

In [10]:
!cqlsh -e "help"

Documented shell commands:
===========================
CAPTURE  CLS          COPY  DESCRIBE  EXPAND  LOGIN   SERIAL  SOURCE   UNICODE
CLEAR    CONSISTENCY  DESC  EXIT      HELP    PAGING  SHOW    TRACING

CQL help topics:
================
AGGREGATES               CREATE_KEYSPACE           DROP_TRIGGER      TEXT
ALTER_KEYSPACE           CREATE_MATERIALIZED_VIEW  DROP_TYPE         TIME
ALTER_MATERIALIZED_VIEW  CREATE_ROLE               DROP_USER         TIMESTAMP
ALTER_TABLE              CREATE_TABLE              FUNCTIONS         TRUNCATE
ALTER_TYPE               CREATE_TRIGGER            GRANT             TYPES
ALTER_USER               CREATE_TYPE               INSERT            UPDATE
APPLY                    CREATE_USER               INSERT_JSON       USE
ASCII                    DATE                      INT               UUID
BATCH                    DELETE                    JSON
BEGIN                    DROP_AGGREGATE            KEYWORDS
BLOB                     DROP_COLUMNFAMILY         LIST_PERMISSIONS
BOOLEAN                  DROP_FUNCTION             LIST_ROLES
COUNTER                  DROP_INDEX                LIST_USERS
CREATE_AGGREGATE         DROP_KEYSPACE             PERMISSIONS
CREATE_COLUMNFAMILY      DROP_MATERIALIZED_VIEW    REVOKE
CREATE_FUNCTION          DROP_ROLE                 SELECT
CREATE_INDEX             DROP_TABLE                SELECT_JSON

In [7]:
!cqlsh -e "CREATE KEYSPACE praxis WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 3 };"

Warnings :
Your replication factor 3 for keyspace praxis is higher than the number of nodes 1

In [9]:
# since we are not specifying keyspace separately, we have to prefix table name with keyspace
!cqlsh -e "CREATE TABLE praxis.users (user_id int PRIMARY KEY, first_name text, last_name text );"

In [10]:
!cqlsh -e "INSERT INTO praxis.users (user_id, first_name, last_name) VALUES (1, 'Prithwis', 'Mukerjee');"
!cqlsh -e "INSERT INTO praxis.users (user_id, first_name, last_name) VALUES (2, 'Sanniti', 'Chatterjee');"
!cqlsh -e "INSERT INTO praxis.users (user_id, first_name, last_name) VALUES (3, 'Amrita', 'Ghosh');"

In [11]:
!cqlsh -e "select * from praxis.users;"

 user_id | first_name | last_name
---------+------------+------------
       1 |   Prithwis |   Mukerjee
       2 |    Sanniti | Chatterjee
       3 |     Amrita |      Ghosh

(3 rows)

In [ ]:
#another way to specifiy keyspace
!cqlsh -e "use praxis;\
           select * from users;"

 user_id | first_name | last_name
---------+------------+------------
       1 |   Prithwis |   Mukerjee
       2 |    Sanniti | Chatterjee
       3 |     Amrita |      Ghosh

(3 rows)

In [15]:
# easier way to specify keyspace, similar specifying database in mysql
!cqlsh -k praxis -e "select * from users;"

 user_id | first_name | last_name
---------+------------+------------
       1 |   Prithwis |   Mukerjee
       2 |    Sanniti | Chatterjee
       3 |     Amrita |      Ghosh

(3 rows)

# Python
https://docs.datastax.com/en/developer/python-driver/3.25/

In [8]:
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.25.0-cp37-cp37m-manylinux1_x86_64.whl (3.8 MB)
     |████████████████████████████████| 3.8 MB 5.0 MB/s
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from cassandra-driver) (1.15.0)
Collecting geomet<0.3,>=0.1
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 geomet-0.2.1.post1

In [9]:
from cassandra.cluster import Cluster
cluster = Cluster(['127.0.0.1'],port=9042)
session = cluster.connect('praxis',wait_for_all_pools=True)
session.execute('USE praxis')

In [21]:
rows = session.execute('SELECT * FROM users')
for row in rows:
        print(row.user_id,row.first_name,row.last_name)

1 Prithwis Mukerjee
2 Sanniti Chatterjee
3 Amrita Ghosh

In [22]:
session.execute("INSERT INTO praxis.users (user_id, first_name, last_name) VALUES (4, 'Charanpreet', 'Singh');")

In [23]:
rows = session.execute('SELECT * FROM users')
for row in rows:
        print(row.user_id,row.first_name,row.last_name)

1 Prithwis Mukerjee
2 Sanniti Chatterjee
4 Charanpreet Singh
3 Amrita Ghosh

In [24]:
session.execute("update praxis.users set first_name = 'Dr Prithwis' where user_id = 1;")

In [25]:
rows = session.execute('SELECT * FROM users')
for row in rows:
        print(row.user_id,row.first_name,row.last_name)

1 Dr Prithwis Mukerjee
2 Sanniti Chatterjee
4 Charanpreet Singh
3 Amrita Ghosh

#Tutorial from FreeCodeCamp <br>
https://www.freecodecamp.org/news/the-apache-cassandra-beginner-tutorial/ <br>
alternatively from this [saved file](https://github.com/Praxis-QR/BDSN/blob/main/Documents/The%20Apache%20Cassandra%20Beginner%20Tutorial.pdf)

In [ ]:
#!cqlsh -e "CREATE KEYSPACE learn_cassandra WITH REPLICATION = { 'class' : 'NetworkTopologyStrategy','datacenter1' : 3  };"

In [10]:
!cqlsh -k praxis -e "CREATE TABLE users_by_country \
(country text,\
 user_email text,\
 first_name text,\
 last_name text,\
 age smallint,\
 PRIMARY KEY ((country), user_email));"

In [11]:
!cqlsh -k praxis -e "\
INSERT INTO users_by_country (country,user_email,first_name,last_name,age) \
  VALUES('US', 'john@email.com', 'John','Wick',55); \
\
INSERT INTO users_by_country (country,user_email,first_name,last_name,age)\
  VALUES('UK', 'peter@email.com', 'Peter','Clark',65);\
\
INSERT INTO users_by_country (country,user_email,first_name,last_name,age)\
  VALUES('UK', 'bob@email.com', 'Bob','Sandler',23);\
\
INSERT INTO users_by_country (country,user_email,first_name,last_name,age)\
  VALUES('UK', 'alice@email.com', 'Alice','Brown',26);\
"

In [12]:
!cqlsh -k praxis -e "SELECT * FROM users_by_country WHERE country='UK';"

 country | user_email      | age | first_name | last_name
---------+-----------------+-----+------------+-----------
      UK | alice@email.com |  26 |      Alice |     Brown
      UK |   bob@email.com |  23 |        Bob |   Sandler
      UK | peter@email.com |  65 |      Peter |     Clark

(3 rows)

In [13]:
!cqlsh -k praxis -e "drop table users_by_email;"
!cqlsh -k praxis -e "CREATE TABLE users_by_email (\
  user_email text,\
  country text,\
  first_name text,\
  last_name text,\
  age smallint,\
  PRIMARY KEY (user_email));"

<stdin>:1:InvalidRequest: Error from server: code=2200 [Invalid query] message="Table 'praxis.users_by_email' doesn't exist"

In [14]:
!cqlsh -k praxis -e "INSERT INTO users_by_email (user_email, country,first_name,last_name,age)  VALUES('john@email.com', 'US', 'John','Wick',55);"
!cqlsh -k praxis -e "INSERT INTO users_by_email (user_email,country,first_name,last_name,age)  VALUES('peter@email.com', 'UK', 'Peter','Clark',65);"
!cqlsh -k praxis -e "INSERT INTO users_by_email (user_email,country,first_name,last_name,age)  VALUES('bob@email.com', 'UK', 'Bob','Sandler',23);"
!cqlsh -k praxis -e "INSERT INTO users_by_email (user_email,country,first_name,last_name,age)  VALUES('alice@email.com', 'UK', 'Alice','Brown',26);"

In [15]:
!cqlsh -k praxis -e "SELECT * FROM users_by_email WHERE user_email='alice@email.com';"

 user_email      | age | country | first_name | last_name
-----------------+-----+---------+------------+-----------
 alice@email.com |  26 |      UK |      Alice |     Brown

(1 rows)

In [16]:
!cqlsh -k praxis -e "SELECT * FROM users_by_email WHERE age=26 ALLOW FILTERING;"
!cqlsh -k praxis -e "SELECT * FROM users_by_email WHERE age=26;"

 user_email      | age | country | first_name | last_name
-----------------+-----+---------+------------+-----------
 alice@email.com |  26 |      UK |      Alice |     Brown

(1 rows)
<stdin>:1:InvalidRequest: Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

In [17]:
!cqlsh -k praxis -e "CREATE TABLE todo_by_user_email (user_email text,name text,creation_date timestamp,PRIMARY KEY ((user_email), creation_date)) WITH CLUSTERING ORDER BY (creation_date DESC) AND compaction = { 'class' :  'LeveledCompactionStrategy'};"

In [18]:
!cqlsh -k praxis -e "\
CREATE TABLE todos_shared_by_target_user_email ( \
    target_user_email text, \
    source_user_email text, \
    creation_date timestamp, \
    name text, \
    PRIMARY KEY ((target_user_email), creation_date) \
) WITH CLUSTERING ORDER BY (creation_date DESC) \
AND compaction = { 'class' :  'LeveledCompactionStrategy'  };"

In [19]:
!cqlsh -k praxis -e "\
CREATE TABLE todos_shared_by_source_user_email ( \
    target_user_email text, \
    source_user_email text, \
    creation_date timestamp, \
    name text, \
    PRIMARY KEY ((source_user_email), creation_date) \
) WITH CLUSTERING ORDER BY (creation_date DESC) \
AND compaction = { 'class' :  'LeveledCompactionStrategy'  };"

In [20]:
!cqlsh -k praxis -e "\
BEGIN BATCH \
  INSERT INTO todo_by_user_email (user_email,creation_date,name) VALUES('alice@email.com', toTimestamp(now()), 'My first todo entry') \
  INSERT INTO todos_shared_by_target_user_email (target_user_email, source_user_email,creation_date,name) VALUES('bob@email.com', 'alice@email.com',toTimestamp(now()), 'My first todo entry') \
  INSERT INTO todos_shared_by_source_user_email (target_user_email, source_user_email,creation_date,name) VALUES('alice@email.com', 'bob@email.com', toTimestamp(now()), 'My first todo entry') \
APPLY BATCH;"

In [21]:
!cqlsh -k praxis -e "SELECT * FROM todos_shared_by_target_user_email WHERE target_user_email='bob@email.com';"

 target_user_email | creation_date                   | name                | source_user_email
-------------------+---------------------------------+---------------------+-------------------
     bob@email.com | 2021-12-03 04:13:45.357000+0000 | My first todo entry |   alice@email.com

(1 rows)

In [22]:
!cqlsh -k praxis -e "SELECT * FROM todo_by_user_email WHERE user_email='alice@email.com';"

 user_email      | creation_date                   | name
-----------------+---------------------------------+---------------------
 alice@email.com | 2021-12-03 04:13:45.356000+0000 | My first todo entry

(1 rows)

#Cassandra Collections <br>
Set, List & Map in CQL with Example <br>
https://www.guru99.com/cassandra-collections-tutorial-set-list-map.html

## Set

In [23]:
!cqlsh -k praxis -e "drop table teacher01;"
!cqlsh -k praxis -e "\
Create table Teacher01 \
( \
id int, \
Name text, \
Email set<text>, \
Primary key(id) \
);\
"

<stdin>:1:InvalidRequest: Error from server: code=2200 [Invalid query] message="Table 'praxis.teacher01' doesn't exist"

In [24]:
!cqlsh -k praxis  -e "insert into Teacher01(id,Name,Email) \
 values(1,'prithwis',{{'abc@gmail.com','xyz@hotmail.com'}});"

In [25]:
!cqlsh -k praxis  -e "insert into Teacher01(id,Name,Email) \
values(2,'charan',{{'abc1@gmail.com','xyz1@hotmail.com','xyz2@hotmail.com'}});"

In [26]:
!cqlsh -k praxis -e " select * from Teacher01;"

 id | email                                                      | name
----+------------------------------------------------------------+----------
  1 |                       {'abc@gmail.com', 'xyz@hotmail.com'} | prithwis
  2 | {'abc1@gmail.com', 'xyz1@hotmail.com', 'xyz2@hotmail.com'} |   charan

(2 rows)

## List

In [27]:
!cqlsh -k praxis -e "drop table teacher02;"
!cqlsh -k praxis -e "\
Create table Teacher02 \
( \
id int, \
Name text, \
Courses list<text>, \
Primary key(id) \
);\
"

<stdin>:1:InvalidRequest: Error from server: code=2200 [Invalid query] message="Table 'praxis.teacher02' doesn't exist"

In [28]:
!cqlsh -k praxis  -e "insert into Teacher02(id,Name,Courses) values(1,'prithwis',{['FDS','Python']});"
!cqlsh -k praxis  -e "insert into Teacher02(id,Name,Courses) values(2,'charan',{['Comms','English','Interview']});"

In [29]:
!cqlsh -k praxis -e "select * from teacher02;"

 id | courses                           | name
----+-----------------------------------+----------
  1 |                 ['FDS', 'Python'] | prithwis
  2 | ['Comms', 'English', 'Interview'] |   charan

(2 rows)

## Maps

In [30]:
!cqlsh -k praxis -e "drop table courses;"
!cqlsh -k praxis -e "\
Create table courses \
( \
id int, \
Name text, \
Teachers map<text,text>, \
Primary key(id) \
);\
"

<stdin>:1:InvalidRequest: Error from server: code=2200 [Invalid query] message="Table 'praxis.courses' doesn't exist"

In [31]:
!cqlsh -k praxis  -e "insert into courses(id,Name,Teachers) values(100,'PGDM',{{'Stats':'SRC','FDM':'Atanu'}});"
!cqlsh -k praxis  -e "insert into courses(id,Name,Teachers) values(200,'PGDS',{{'Stats':'SRC','ML':'SDG', 'BDSM':'PM'}});"
!cqlsh -k praxis -e "select * from courses;"

 id  | name | teachers
-----+------+---------------------------------------------
 200 | PGDS | {'BDSM': 'PM', 'ML': 'SDG', 'Stats': 'SRC'}
 100 | PGDM |            {'FDM': 'Atanu', 'Stats': 'SRC'}

(2 rows)

In [32]:
#!cqlsh -k praxis -e "describe Teacher02;"

## Python

In [33]:
rows = session.execute('SELECT * FROM teacher01')
for row in rows:
        print(row)
        emails = row.email
        print(emails)
        emails2 = list(emails)
        for im in emails2:
            print(im)

Row(id=1, email=SortedSet(['abc@gmail.com', 'xyz@hotmail.com']), name='prithwis')
SortedSet(['abc@gmail.com', 'xyz@hotmail.com'])
abc@gmail.com
xyz@hotmail.com
Row(id=2, email=SortedSet(['abc1@gmail.com', 'xyz1@hotmail.com', 'xyz2@hotmail.com']), name='charan')
SortedSet(['abc1@gmail.com', 'xyz1@hotmail.com', 'xyz2@hotmail.com'])
abc1@gmail.com
xyz1@hotmail.com
xyz2@hotmail.com

In [34]:
rows = session.execute('SELECT * FROM teacher02')
for row in rows:
        print(row)
        courses = row.courses
        print(courses)
        for c in courses:
            print(c)

Row(id=1, courses=['FDS', 'Python'], name='prithwis')
['FDS', 'Python']
FDS
Python
Row(id=2, courses=['Comms', 'English', 'Interview'], name='charan')
['Comms', 'English', 'Interview']
Comms
English
Interview

In [36]:
rows = session.execute('SELECT * FROM courses')
for row in rows:
        print(row)
        print(row.teachers) # this is a dictionary and can be used as such
        for k,v in row.teachers.items():
            print(k,v)

Row(id=200, name='PGDS', teachers=OrderedMapSerializedKey([('BDSM', 'PM'), ('ML', 'SDG'), ('Stats', 'SRC')]))
{'BDSM': 'PM', 'ML': 'SDG', 'Stats': 'SRC'}
BDSM PM
ML SDG
Stats SRC
Row(id=100, name='PGDM', teachers=OrderedMapSerializedKey([('FDM', 'Atanu'), ('Stats', 'SRC')]))
{'FDM': 'Atanu', 'Stats': 'SRC'}
FDM Atanu
Stats SRC

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)